html {
    background: #1F0000;
}

.image {
    justify-content: center;
    display: flex;
    width: auto;
    height: 300px;
}

#cabecalho {
    background: white;
    width: auto;
    height: 200px;
}

.conteudo {
    justify-content: center;
    display: flex;
    color: azure;
    margin-top: 5%;
    
 
}

#ofertas {
    justify-content: center;
    display: flex;
    margin-left: 45px;
    margin-top: 90px;
}

#evento {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

p card-text {
    justify-content: center;
    display: flex;
}

.image2 {
    justify-content: center;
    display: flex;
}

#valores {
    justify-content: center;
    display: flex;
    width: 200;
    height: auto;
}

#missao {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    color: white;
    
}

.frases {
    justify-content: center;
    display: flex;
    color: aliceblue;
    margin-top: 20px;
}

#produtos {
    justify-content: center;
    display: flex;  
    color: aliceblue;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#cardapio {
    margin-top: 50px;
}

h1 {
    font-family: Arial;
    font-size: 200%;
}

#endereco {
    margin-top: 20px ;
    justify-content: center;
    display: flex;
}

.campo {
    justify-content: center;
    display: flex;
    margin: 10px;
}

section{
    display: flex;
    align-items: center;
    padding: 10px 45px;
    background: #1d1d2e;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 0  auto;
 
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

.contato {
    margin: 80px;
    display: flex;
    justify-content: center;
    color: white;
}

#valor {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    color: white;
    float: left;
}

#horario {
    width: auto;
    height: 400px;
    background: black;
    color: white;
    margin-top: 10%;
}

#horario h3 {
    font-size: 290%;
    font-family: a;
    
}

.dias {
    margin-top: 3%;

}

.carousel-item {
    width: 400px;
    height: 800px;
    margin-top: 5%;
}

.card-group {
    margin-top: 5%;
}

  
  



